<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="index-span">{{index + 1}}</span>
      </mat-panel-title>
      <mat-panel-description>
        <div class="section-info">

          <span class="name-span">{{section!.name}}</span>
          <div class="questions-info">
            {{section!.answeredQuestions}} /
            {{section!.totalQuestions}} 
          </div>
        </div>

      </mat-panel-description>
    </mat-expansion-panel-header>
      <ng-container *ngFor="let question of questions">
        <app-question-factory [question]="question" [section]="section"></app-question-factory>
      </ng-container>
  </mat-expansion-panel>
</mat-accordion>