<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="index-span">{{index + 1}}</span>
       <span class="name-span">{{section!.name}}</span>
      </mat-panel-title>
      <mat-panel-description>
        {{section!.answeredQuestions}} /
        {{section!.totalQuestions}} 

      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <app-three-buttons title='Question Title' (valueChange)="buttonListener('3Btn', $event)"></app-three-buttons>
  </mat-card>
    <mat-card>
      <app-radio title="Pregunta checkbox" [options]="options" (valueChange)="buttonListener('radio', $event)"></app-radio>
  </mat-card>
    <mat-card>
      <app-dropdown-question title="Pregunta dropdown" (valueChange)="buttonListener('dropdown', $event)"></app-dropdown-question>
  </mat-card>

  </mat-expansion-panel>
</mat-accordion>