<h3>{{title}}</h3>

<div class="check_container">
  <ng-container *ngFor="let option of options">
    <div class="item">
      <input type="checkbox" name='option.name' id='option.id' [checked]="value===option.value" (click)="setValue(option.value)"> {{option.value}}
    </div>
  </ng-container>
  <!-- <div class="item">
    <input type="checkbox" name="op2" id="op2" [checked]="value==='op2'" (click)="setValue('op2')"> Option 2
  </div>
  <div class="item">
    <input type="checkbox" name="op3" id="op3" [checked]="value==='op3'" (click)="setValue('op3')"> Option 3
  </div>
  <div class="item">
    <input type="checkbox" name="op4" id="op4" [checked]="value==='op4'"(click)="setValue('op4')"> Option 4
  </div> -->
</div>
